In [1]:
# Add the Pandas dependency.
import pandas as pd
import numpy as np

In [2]:
# Files to load
vine_data = "vine_table.csv"

In [3]:
# Read the data file and store it in a Pandas DataFrame.
vine_df = pd.read_csv(vine_data)
vine_df.head(5)
# vine_df.count

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R203HPW78Z7N4K,5,0,0,N,Y
1,R2EAIGVLEALSP3,5,1,1,N,Y
2,R1K1CD73HHLILA,5,0,0,N,Y
3,R2KZBMOFRMYOPO,5,1,1,N,Y
4,R6BIZOZY6UD01,5,0,0,N,Y

In [4]:
vine_df_gt = vine_df[vine_df['total_votes'] >= 20]
vine_df_gt.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
34,R1QXNQBTH7LIUB,3,9,22,N,Y
99,R3BC75VKJK6LNV,4,83,89,N,Y
170,R5XKK92G5N9FU,1,18,22,N,N
171,RYMOWYW38WKOB,5,35,35,N,N
304,RYHZAVESD0T37,1,39,45,N,Y

In [11]:
# vine_df_gt.dtypes
# vine_df_gt = vine_df_gt.assign(hratio = lambda x: (x['helpful_votes'] / x['total_votes'])) 
vine_df_gt['hratio'] = vine_df_gt['helpful_votes'] / vine_df_gt['total_votes']
vine_df_hf = vine_df_gt[vine_df_gt['hratio'] >= .5]
vine_df_hf.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,hratio
99,R3BC75VKJK6LNV,4,83,89,N,Y,0.932584
170,R5XKK92G5N9FU,1,18,22,N,N,0.818182
171,RYMOWYW38WKOB,5,35,35,N,N,1.000000
304,RYHZAVESD0T37,1,39,45,N,Y,0.866667
328,R19Y5VBOF3BQOG,1,26,35,N,Y,0.742857

In [12]:
vine_df_p = vine_df_hf[vine_df_hf['vine'] == 'Y']
vine_df_p.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,hratio
10115,R20O97P5V9CZ21,3,21,27,Y,N,0.777778
24076,RCNB7YGLWKCV5,5,23,30,Y,N,0.766667
25487,RX1ZUVGBH3HKC,5,814,848,Y,N,0.959906
26003,RRS5AGL10DYU3,3,25,29,Y,N,0.862069
26213,R5YFC5G8V2B3I,5,104,117,Y,N,0.888889

In [13]:
vine_df_up = vine_df_hf[vine_df_hf['vine'] == 'N']
vine_df_up.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,hratio
99,R3BC75VKJK6LNV,4,83,89,N,Y,0.932584
170,R5XKK92G5N9FU,1,18,22,N,N,0.818182
171,RYMOWYW38WKOB,5,35,35,N,N,1.000000
304,RYHZAVESD0T37,1,39,45,N,Y,0.866667
328,R19Y5VBOF3BQOG,1,26,35,N,Y,0.742857

In [14]:
#paid dataframe
#number of rows
np = vine_df_p.shape[0]
# print('Number of Reviews - Vine Program :',num_rows)
print('Number of Reviews - Vine Program :',len(vine_df_p))
star5 = vine_df_p.groupby(by='star_rating').agg('count')
# print(star5)
print('Number of 5 Star Reviews - Vine Program :', star5.iloc[3]['review_id'])
pct5 = (star5 / np * 100).round(2)
# print(pct5)
print('Percentage of 5 Star Reviews - Vine Program :', pct5.iloc[3]['review_id'])

Number of Reviews - Vine Program : 35
Number of 5 Star Reviews - Vine Program : 18
Percentage of 5 Star Reviews - Vine Program : 51.43

In [15]:
#unpaid dataframe
#number of rows
npu = vine_df_up.shape[0]
# print('Number of Reviews - Not Vine Program :',num_rows)
print('Number of Reviews - Not Vine Program :',len(vine_df_up))
star5u = vine_df_up.groupby(by='star_rating').agg('count')
# print(star5u)
print('Number of 5 Star Reviews - Not Vine Program :', star5u.iloc[4]['review_id'])
pct5u = (star5u / npu * 100).round(2)
# print(pct5u)
print('Percentage of 5 Star Reviews - Not Vine Program :', pct5u.iloc[4]['review_id'])

Number of Reviews - Not Vine Program : 4957
Number of 5 Star Reviews - Not Vine Program : 1963
Percentage of 5 Star Reviews - Not Vine Program : 39.6